{% extends 'account_base.html' %}
{% block title %}Admin Login{% endblock%}
{%block content%}
			<form class="login100-form validate-form" action="/AdminDashboard">
				<span class="login100-form-title p-b-37">
					ADMIN SIGN IN
				</span>

				<div class="wrap-input100 validate-input m-b-20" data-validate="Enter email">
					<input class="input100" type="email" name="email" placeholder="Email">
					<span class="focus-input100"></span>
				</div>

				<div class="wrap-input100 validate-input m-b-25" data-validate = "Enter password">
					<input class="input100" type="password" name="pass" placeholder="Password">
					<span class="focus-input100"></span>
				</div>

				<div class="container-login100-form-btn">
					<button class="login100-form-btn">
						Sign In
					</button>
				</div>

				<br>

				<div class="text-center">
					<a href="/forgetpassword" class="txt2 hov1">
						Forget Password?
					</a>
				</div>



			</form>
{%endblock%}