{% extends 'account_base.html' %}
{% block title %}Register as{% endblock %}
{% block content %}

			<div class="login100-form validate-form">
				<span class="login100-form-title p-b-37">
					REGISTER AS
				</span>

                <center><button class="login100-form-btn register" onclick="window.location.href={% url 'org_signup' %}">Organization</button></center><br>
                <center><button class="login100-form-btn register" onclick="window.location.href={% url 'student_signup' %}">Student</button></center><br>
                <center><button class="login100-form-btn register" onclick="window.location.href={% url 'tp_signup' %}">Third Party</button></center><br>

			</div>
{% endblock %}