{% extends 'account_base.html' %}
{% block title %}Forget Password{% endblock %}
{% block content %}
			<form class="login100-form validate-form" action="/adminlogin">
				<span class="login100-form-title p-b-37">
					Trouble Logging In?
					<br><br>
					<h6>Enter your email, and we'll send you a link to get back into your account.</h6>
				</span>
				<div class="wrap-input100 validate-input m-b-20" data-validate="Enter email">
					<input class="input100" type="email" name="email" placeholder="Email">
					<span class="focus-input100"></span>
				</div>

				<div class="container-login100-form-btn">
					<button class="login100-form-btn">
						Send login link
					</button>
				</div>

				<br>

			</form>

{% endblock %}

			
